In [ ]:
# Check Scipy version

Tutorial
https://docs.anaconda.com/anaconda/navigator/tutorials/manage-packages/

In [2]:
# Import pandas, numpy, scip.stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

## One Sample T Test

- According to Reynolds Intellectual Ability Scales, the average VIQ (Verbal IQ scores based on the four Wechsler (1981) subtests) is about 109.

- In our sample data, we have a sample of 40 cases. 
- Let's test if the average VIQ of people is significantly bigger than 109.

In [3]:
# Brain size and weight and IQ data (Willerman et al. 1991)
df = pd.read_csv("brain_size.csv", sep=";", na_values = ".", index_col = 0)

In [ ]:
# H0: 
# H1:

In [ ]:
# Calculate the mean of VIQ

In [ ]:
# Calculate the std of VIQ

In [ ]:
# Calculate the test statistic

In [ ]:
#test statistic

In [ ]:
# Calculate p-value

In [ ]:
# Use stats.ttest_1samp() to calculate the test statistic and p-value

In [ ]:
#Display p-value

In [ ]:
# Compare p-value and alpha

# Independent Samples T Test

## Arsenic Example

- Arsenic concentration in public drinking water supplies is a potential health risk. 
- An article in the Arizona Republic (May 27, 2001) reported drinking water arsenic concentrations in parts per billion (ppb) for 10 metropolitan Phoenix communities and 10 communities in rural Arizona.
- You can find the data in CSV file.

Determine if there is any difference in mean arsenic concentrations between metropolitan Phoenix communities and communities in rural Arizona.

In [6]:
#Import arsenic dataset
arsenic = pd.read_csv("arsenic.csv")
arsenic.head()

  Metro Phoenix  x1    Rural Arizona  x2
0       Phoenix   3          Rimrock  48
1      Chandler   7         Goodyear  44
2       Gilbert  25        New River  40
3      Glendale  10  Apache Junction  38
4          Mesa  15          Buckeye  33

In [ ]:
#Perform Levene test for equal variances
#H0: The population variances are equal
#H1: There is a difference between the variances in the population
#The small p-value suggests that the populations do not have equal variances.
leveneTest =

In [ ]:
# average Metro Phoenix

In [ ]:
# average Rural Arizona

Calculate the T-test for the means of two independent samples of scores.

In [ ]:
# H0: 
# H1:

In [ ]:
# Calculate test statistics using stats.ttest_ind()

In [ ]:
# Decision
alpha =

# Paired (Dependent) Samples T Test

## Prozac Data

- Let us consider a simple example of what is often termed "pre/post" data or "pretest/posttest" data. 
- Suppose you wish to test the effect of Prozac on the well-being of depressed individuals, using a standardised "well-being scale" that sums Likert-type items to obtain a score that could range from 0 to 20. 
- Higher scores indicate greater well-being (that is, Prozac is having a positive effect). 
- While there are flaws in this design (e.g., lack of a control group) it will serve as an example of how to analyse such data.

Determine if Prozac enhances well-being in depressed individuals. Use   0.05

In [ ]:
# read prozac dataset
prozac =

In [ ]:
prozac

In [ ]:
# H0: 
# H1:

In [ ]:
# Calculate test statistics using stats.ttest_rel()  
# moodpre - moodpost

In [ ]:
# moodpost - moodpre

In [ ]:
# Decision
alpha =